#page-2{
    height: 190px;
    padding: 20px;
}

#schedule-container{
    background-image: url("/Public/climb-bg.png");
    position: relative;
}

.schedule{
        display: flex;
        width: fit-content;
        background-color: white;
        opacity: 0.6;
        height: fit-content;
        position: absolute;
        top: 118px;
        left: 350px;
        padding: 20px;
        border-radius: 4px;
        flex-direction: column;
        gap: 40px;
    }
.schedule h3 {
    font-size: 32px;
}

.events{
        display: flex;
        flex-direction: column;
    }

    .ind-event{
        display: flex;
        width: 300px;
        justify-content: space-between;
    }


.mountains{
        display: flex;
        height: 40px;
        align-items: center;
        gap: 15px;
        background-color: #414f6b;
    }
.mountains-container{
    width: 960px;
    margin: 0 auto;
        display: flex;
        height: 40px;
        align-items: center;
        background-color: #414f6b;
    }
    .mountains-container p {
        padding: 1%;
        border-left: 2px solid #414f6b;
        color: whitesmoke;
        cursor: pointer;
    }

    .active-mountain{
        background-color: whitesmoke;
        color: #414f6b !important;
    }
