#history{
    background-image: url("/Public/history-bg.png");
    object-fit: cover;
    background-position: 50% 15%;
    position: relative;
}

.carousel {
    background-color: #414f6b;
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .79;
}

.header-wrapper{
        display: flex;
        width: 960px;
        margin: 0 auto;
        gap: 50px;
        padding-top: 106px;
        flex-direction: column;
    }

    .page {
        position: relative;
        width: 295px;
    }



.page > p{
    font-size: 72px;
}

.page > span{
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 48px;
}
