*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-bg-image {
    background-image: url("/Public/header-bg3.png");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 825px;
    width: 1600px;
    /* You must set a specified height */
    background-position: top;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */

}

.header-main{
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 0 auto;
    align-items: center;
    gap: 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 15px;
}

nav a{
    color: white;
    padding: 0px 0px 0px 10px;
}

a {
    line-height: 1.6;
}

.underline {
    text-decoration: none;
    position: relative;
}

.underline:after {
    position: absolute;
    height: 1px;
    margin: 0 auto;
    content: '';
    right: -4px;
    width: 95%;
    color: #000;
    background-color: white;
    left: 0;
    bottom: -2px;
    /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}


.header-text p{
    font-size: 6em;
    font-weight: 500;
}

.sticky-nav{
    width: 960px;
    margin: 0 auto;
    
}
.sticky-nav a{
    color: #414f6b;
}
